.text-primary-main {
  color: var(--text-primary-main);
}

.text-secondary-main {
  color: var(--text-seconday-main);
}

.text-secondary-dark {
  color: var(--text-seconday-dark);
}

.text-title {
  color: var(--text-seconday-main);
}

.text-paragraph {
  color: var(--text-primary-main);
}

// display 

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

