:root {
  --primary-main: #0066ff;
  --seconday-main: #ff5c00;
  --text-primary-main: #313131;
  --text-seconday-main: #313131;
  // --text-seconday-main: #0066ff;
  --text-seconday-dark: #313131;
  --devider-main: #c3c3c3;
}
