.home-screen {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 50px;

  .content-container {
    max-width: 1240px;
    margin: auto;
    padding: 50px 100px;

    @media (max-width: 600px) {
      padding: 40px 20px;
    }
  }

  .questions-list {
    height: fit-content;
  }

  .question-container {
    margin-bottom: 100px;
  }

  @media (max-width: 600px) {
    .question-container {
      margin-bottom: 80px;
    }
  }
}