.body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main {
  width: 20%;
}

@media only screen and (max-width: 1440px) {
  .main {
    width: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    width: 98%;
  }
}

h4 {
  font-size:13pt;
  text-align: center;
  margin-top: 60px;
}

.box {
  max-width: 90%;
  height: 150px;
  border: 0.25pt solid #cfcfce;
  margin: 10px;
  padding: 5px;
  margin-left: 13px;
  border-radius: 12px;
  box-shadow:0.0115px 0.565px 1.1511px rgb(58 59 69 / 6%);
}

.box-1 {
  background-color: #f2f2f4;
}

.box-2 {
  background-color: #f2f2f4;
}

.box-3 {
  background-color: #f2f2f4;
}

.btn-1 {
  position: absolute !important;
  top: -95px;
  border: none;
  background-color: transparent;
}

.btn-2 {
  background-image: -webkit-linear-gradient(top,rgb(239 238 238), rgb(220 220 220));
  border: 0.4655px solid #cdcccc;
  border-radius: 5.55px;
  height: 46px;
  margin-top: 50px;
  right: 106px;
  top: 170px;
  width: 161px;
  color:black;
  &:hover{
    color: black;
  }
}

.btn-1 img {
  width: 25px;
  height: 25px;
}

.carousel-item {
  transition: all .592919s cubic-bezier(0.25, 0.48, 0.47, 1.01) !important;
}

.carousel-item-left {
  transition: all .417070s cubic-bezier(0.25, 0.48, 0.45, 0.94)!important;
}

// .display-none {
//   display: none;
// }

// .display-block {
//   display: block;
// }
